<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <%= render 'layouts/critical_css' %>
  <title>GROW.bio - Biomaterial Kits that you can actually buy</title>
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  <meta property="og:title" content="GROW.bio is coming!"/>
  <meta property="og:description" content="We’re changing the way mankind makes products. #GrowBio #BornFromBiology"/>
  <meta property="og:image" content="<%= asset_path("email/grow-bio-is-coming.png") %>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>" class="bg-white sans-serif black">

<%= yield %>

<%= render 'layouts/footer' %>
<%= stylesheet_link_tag "application", :media => "all" %>
</body>
</html>
